---
apiVersion: v1
metadata:
  name: okd
baseDomain: example.com
networking:
  clusterNetwork:
  - cidr: 10.100.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
platform:
  none: {}
fips: false
pullSecret:
sshKey:
imageContentSources:
- mirrors:
  - quay.okd.example.com/okd/{{ okd_lab_install_okd_name }}
  - quay.okd.example.com/okd/releases
  source: quay.io/openshift/okd
- mirrors:
  - quay.okd.example.com/okd/{{ okd_lab_install_okd_name }}
  - quay.okd.example.com/okd/releases
  source: quay.io/openshift/okd-content
additionalTrustBundle: |
{{lookup('file', '/etc/ca.crt') | indent( width=2, indentfirst=True) }}

