version: '3'

services:

  keycloak:
    image: jboss/keycloak:{{ okd_lab_keycloak_version }}
#    command: /opt/jboss/keycloak/bin/standalone.sh -Dkeycloak.import=/tmp/lab-realm.json -Dkeycloak.migration.strategy=OVERWRITE_EXISTING 
    environment:
    - KEYCLOAK_USER=admin
    - KEYCLOAK_PASSWORD=passpass
    restart: always
    ports:
      - 4444:8080
    volumes:
#      - '~/docker/mounts/keycloak/lab-realm.json:/tmp/lab-realm.json'
      - '~/docker/mounts/keycloak:/tmp'
