terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform
packer_cache
output-bastion
output-lb
tools
.DS_Store
TODO
.ca/pki
.ca/x509-types
.ca/easyrsa
.ca/openssl-easyrsa.cnf
transfer