http_listen_addr: :8081
introspection_addr: :8089
log_level: error
indexer:
  connstring: host={{ okd_lab_clair_postgres_ip }} dbname=clair user={{ okd_lab_clair_postgres_user }} password={{ okd_lab_clair_postgres_password }} sslmode=disable
  scanlock_retry: 10
  layer_scan_concurrency: 5
  migrations: true
matcher:
  connstring: host={{ okd_lab_clair_postgres_ip }} dbname=clair user={{ okd_lab_clair_postgres_user }} password={{ okd_lab_clair_postgres_password }} sslmode=disable
  max_conn_pool: 500
  run: ""
  migrations: true
  indexer_addr: clair-indexer
notifier:
  connstring: host={{ okd_lab_clair_postgres_ip }} dbname=clair user={{ okd_lab_clair_postgres_user }} password={{ okd_lab_clair_postgres_password }} sslmode=disable
  delivery_interval: 1m
  poll_interval: 5m
  migrations: true
auth:
  psk:
    key: "{{ okd_lab_clair_psk }}"
    iss: ["quay"]
