dn: uid=administrator,ou=users,dc=example,dc=com
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Administrator
sn: Administrator
mail: administrator@example.com
uid: Administrator
userPassword: {crypt}x
