dn: uid=admin,ou=users,dc=example,dc=com
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Admin
sn: Admin
mail: admin@example.com
uid: admin
userPassword: {crypt}x
