dn: uid=lab,ou=users,dc=example,dc=com
objectClass: organizationalPerson
objectClass: person
objectClass: inetOrgPerson
objectClass: top
cn: Lab
sn: Lab
mail: lab@example.com
uid: lab
userPassword: {crypt}x
