---
apiVersion: v1
metadata:
  name: okd
baseDomain: example.com
networking:
  clusterNetwork:
  - cidr: 10.100.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
platform:
  none: {}
fips: false
pullSecret:
sshKey:
imageContentSources:
- mirrors:
  - quay.okd.example.com/admin_okd_registry/{{ okd_lab_install_okd_name }}
  source: quay.io/openshift/okd
- mirrors:
  - quay.okd.example.com/admin_okd_registry/{{ okd_lab_install_okd_name }}
  source: quay.io/openshift/okd-content
additionalTrustBundle: |
    -----BEGIN CERTIFICATE-----
    MIIDSDCCAjCgAwIBAgIULqLTieg864a/Sgmds8r7x6iXQp4wDQYJKoZIhvcNAQEL
    BQAwFTETMBEGA1UEAwwKRXhhbXBsZS1DQTAeFw0yMTAzMjExNTIzMDJaFw0zMTAz
    MTkxNTIzMDJaMBUxEzARBgNVBAMMCkV4YW1wbGUtQ0EwggEiMA0GCSqGSIb3DQEB
    AQUAA4IBDwAwggEKAoIBAQDikS8Bf1nKVGgONiVawJzfNl9SvXE6cF2PY2NJS0Q9
    SnMLe8iM8HENtu+x6Iv8LK5AcFYvx8finmvH7y2dn4ft65gFJfCUECMK30NtCrEU
    bovJAEQ3WrDBwhSYV0JhtkN7zwnBCiOtF6FFBNblOAUIj6Z7tCgOZHXwtFLt5UK1
    CTX/al/R39awUL0T1iW0BSR4G8VTFVeZOSFtDIXOFzkyo5PsMVd6MIyJn6FNhn+5
    daXlJBEQOY+bZA3MO33tKFEQapsLyCwbv0xsTpfjKrTWSw5TchITHOOWF8iXyxee
    t1MU0eDC89aKVvND1oCGki1AcntRQxnbZP4VgJ7BbvkXAgMBAAGjgY8wgYwwHQYD
    VR0OBBYEFG+UKwkxzTKJE13AS2WQuMWYHBzHMFAGA1UdIwRJMEeAFG+UKwkxzTKJ
    E13AS2WQuMWYHBzHoRmkFzAVMRMwEQYDVQQDDApFeGFtcGxlLUNBghQuotOJ6Dzr
    hr9KCZ2zyvvHqJdCnjAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjANBgkqhkiG
    9w0BAQsFAAOCAQEAWBDI4Kehf+Apt1tfKQgWWWjJRI9avDTZI3rF94rbZgPxSzzW
    uvrC4+hJmMkUT1+tmR1+85hv47hOLWXJVTaBCb/H+jyjKvHdQcjHK5LEPMY2kPjo
    u+6pd5IQSuVzJ4IkuFPpmEL91vvNGLaVC+kiqfTnrUDLxgMSwwk4+SY4n6dLjiz8
    uz/QARTdnviCL/3lQgoDLahZN2TDtItXZ9niikhVJgvgavYgtZrKWwdqO1MOWNW5
    ETSEH/VycE1dRrYDZT9LhbemMA3VfzAsSb1kO5nG9oIsi4RwwCv1EuxjHhMk0sy3
    1ONXTcAtHi/FwgvhrOEtuzYB2XOMUR37p/ZdzQ==
    -----END CERTIFICATE-----
