urlBase : {{ okd_lab_artifactory_url }}/
fileUploadMaxSizeMb: 999

trashcanConfig:
  enabled: true
  retentionPeriodDays: 1
quotaConfig:
  diskSpaceLimitPercentage: 90
  diskSpaceWarningPercentage: 90
  enabled: true

security:   
  anonAccessEnabled: true
  ldapSettings:
    LDAP:
      emailAttribute: mail
      ldapPoisoningProtection: true
      ldapUrl: ldaps://{{ okd_lab_directory_hostname }}:636/dc=example,dc=com
      search:
        managerDn: cn=Directory Manager
        managerPassword: {{ okd_lab_directory_root_password }}
        searchBase: ou=People
        searchFilter: uid={0} 
        searchSubTree: true
      userDnPattern: uid={0},ou=People
      allowUserToAccessProfile: true
      autoCreateUser: true
      enabled: true


localRepositories:   
  example-repo-local: null
  lab.mvn.snapshots:   
    type: maven   
    checksumPolicyType: client-checksums   
    description: "LAB - Maven Snapshot Repository"   
    excludesPattern:  
    includesPattern:  "**/*"
    maxUniqueSnapshots: 10   
    repoLayout: maven-2-default   
    snapshotVersionBehavior: non-unique   
    blackedOut: false   
    handleSnapshots: true   
    handleReleases: false
    suppressPomConsistencyChecks: false   
  lab.mvn.releases:   
    type: maven
    checksumPolicyType: client-checksums
    description: "LAB - Maven Release Repository"
    excludesPattern:  
    includesPattern:  "**/*"
    maxUniqueSnapshots: 0
    repoLayout: maven-2-default
    snapshotVersionBehavior: unique
    blackedOut: false
    handleSnapshots: false
    handleReleases: true
    suppressPomConsistencyChecks: true
remoteRepositories:
  maven-central-remote:
    type: maven 
    description: "Maven Central"
    url: https://repo1.maven.org/maven2/
    assumedOfflinePeriodSecs: 300
    repoLayout: maven-2-default
    maxUniqueSnapshots: 0
    remoteRepoChecksumPolicyType: generate-if-absent
    fetchJarsEagerly: false
    fetchSourcesEagerly: false
    handleReleases: true
    handleSnapshots: true
    excludesPattern:
    includesPattern:  "**/*"
    socketTimeoutMillis: 15000
    queryParams: 
    blackedOut: false
    enableCookieManagement: false
    synchronizeProperties: false
    retrievalCachePeriodSecs: 600
    missedRetrievalCachePeriodSecs: 1800
    listRemoteFolderItems: true
    blockMismatchingMimeTypes: true
    unusedArtifactsCleanupPeriodHours: 0
  redhat-ga-remote:
    type: maven 
    description: "JBoss Enterprise Maven Repository (Global Access)"
    url: https://maven.repository.redhat.com/ga/
    assumedOfflinePeriodSecs: 300
    repoLayout: maven-2-default
    maxUniqueSnapshots: 0
    remoteRepoChecksumPolicyType: pass-thru
    fetchJarsEagerly: false
    fetchSourcesEagerly: false
    handleReleases: true
    handleSnapshots: true
    excludesPattern:
    includesPattern:  "**/*"
    socketTimeoutMillis: 15000
    queryParams: 
    blackedOut: false
    enableCookieManagement: false
    synchronizeProperties: false
    retrievalCachePeriodSecs: 600
    missedRetrievalCachePeriodSecs: 1800
    listRemoteFolderItems: true
    blockMismatchingMimeTypes: true
    unusedArtifactsCleanupPeriodHours: 0
  redhat-early-remote:
    type: maven 
    description: "JBoss Enterprise Maven Repository (Early Access)"
    url: https://maven.repository.redhat.com/earlyaccess/all/
    assumedOfflinePeriodSecs: 300
    repoLayout: maven-2-default
    maxUniqueSnapshots: 0
    remoteRepoChecksumPolicyType: pass-thru
    fetchJarsEagerly: false
    fetchSourcesEagerly: false
    handleReleases: true
    handleSnapshots: true
    excludesPattern:
    includesPattern:  "**/*"
    socketTimeoutMillis: 45000
    queryParams: 
    blackedOut: false
    enableCookieManagement: false
    synchronizeProperties: false
    retrievalCachePeriodSecs: 600
    missedRetrievalCachePeriodSecs: 1800
    listRemoteFolderItems: true
    blockMismatchingMimeTypes: true
    unusedArtifactsCleanupPeriodHours: 0
  jfrog-plugins-release-remote:
    type: maven 
    description: "JFrog Plugin Releases remote"
    url: https://oss.jfrog.org/artifactory/plugins-release/
    assumedOfflinePeriodSecs: 300
    repoLayout: maven-2-default
    maxUniqueSnapshots: 0
    remoteRepoChecksumPolicyType: pass-thru
    fetchJarsEagerly: false
    fetchSourcesEagerly: false
    handleReleases: true
    handleSnapshots: true
    excludesPattern:
    includesPattern:  "**/*"
    socketTimeoutMillis: 45000
    queryParams: 
    blackedOut: false
    enableCookieManagement: false
    synchronizeProperties: false
    retrievalCachePeriodSecs: 600
    missedRetrievalCachePeriodSecs: 1800
    listRemoteFolderItems: true
    blockMismatchingMimeTypes: true
    unusedArtifactsCleanupPeriodHours: 0
  apache-remote:
    type: generic 
    description: "Apache Software Foundation Distribution Directory"
    url: http://www-eu.apache.org/dist/
    assumedOfflinePeriodSecs: 300
    retrievalCachePeriodSecs: 600
    missedRetrievalCachePeriodSecs: 1800
    socketTimeoutMillis: 45000
    repoLayout: simple-default
    excludesPattern:
    includesPattern:  "**/*"
    listRemoteFolderItems: true
    blockMismatchingMimeTypes: true
virtualRepositories:
  lab.mvn.dev:
    type: maven
    repositories:
      - lab.mvn.releases
      - lab.mvn.snapshots
      - redhat-ga-remote
      - redhat-early-remote
      - maven-central-remote      
    description: "LAB - Maven Repository - Development"
    includesPattern:  "**/*"
    excludesPattern:
    artifactoryRequestsCanRetrieveRemoteArtifacts: false
    pomRepositoryReferencesCleanupPolicy: discard_active_reference
    repoLayout: maven-2-default
  lab.mvn.ga:
    type: maven
    repositories:
      - lab.mvn.releases
      - redhat-ga-remote
      - maven-central-remote
    description: "LAB - Maven Repository - General Availability"
    includesPattern:  "**/*"
    excludesPattern:
    artifactoryRequestsCanRetrieveRemoteArtifacts: false
    pomRepositoryReferencesCleanupPolicy: discard_active_reference
    repoLayout: maven-2-default
