version: '3'

services:

  gitlab:
    image: 'gitlab/gitlab-ce:{{ okd_lab_gitlab_version }}'
    restart: always
    environment:
      GITLAB_ROOT_PASSWORD: passpass
      GITLAB_ROOT_EMAIL: lab@okd.example.com
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ okd_lab_gitlab_base }}'
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
        gitlab_rails['ldap_enabled'] = true
        gitlab_rails['prevent_ldap_sign_in'] = false
        gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
          main: # 'main' is the GitLab 'provider ID' of this LDAP server
            label: 'Ldap'
            host: 'ldap.okd.example.com'
            port: 389
            uid: 'uid'
            bind_dn: 'cn=ldapadm,dc=example,dc=com'
            password: 'root'
            encryption: 'plain' # "start_tls" or "simple_tls" or "plain"
            base: 'ou=users,dc=example,dc=com'
            attributes:
              username: ['uid']
              email:    ['mail']
              first_name: 'cn'
              last_name:  'sn'
        EOS
        nginx['enable'] = true
        nginx['redirect_http_to_https'] = false
        nginx['listen_https'] = false
        pages_nginx['enable'] = false
        prometheus['enable'] = false
        alertmanager['enable'] = false
        node_exporter['enable'] = false
        redis_exporter['enable'] = false
        postgres_exporter['enable'] = false
        pgbouncer_exporter['enable'] = false
        gitlab_exporter['enable'] = false
        grafana['enable'] = false
    ports:
      - '8888:8888'
      - '2222:22'
    volumes:
      - '~/docker/mounts/gitlab/config:/etc/gitlab'
      - '~/docker/mounts/gitlab/logs:/var/log/gitlab'
      - '~/docker/mounts/gitlab/data:/var/opt/gitlab'