[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca

[req_distinguished_name]
countryName                 = Country Name (2 letter code)
countryName_default         = DE
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = NRW
localityName                = Locality Name (eg, city)
localityName_default        = Lab City
organizationName            = Organization Name (eg, company)
organizationName_default    = Lab
organizationalUnitName      = organizationalunit
organizationalUnitName_default = Lab
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = bastion.okd.example.com
commonName_max              = 64

[req_ext]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.0   = bastion.okd.example.com
DNS.1   = quay.okd.example.com
DNS.2   = artifactory.okd.example.com
DNS.3   = gitlab.okd.example.com
DNS.4   = registry.okd.example.com
DNS.5   = sso.okd.example.com
DNS.6   = mirror.okd.example.com
DNS.7   = clair.okd.example.com
