apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: ldap 
    mappingMethod: claim 
    type: LDAP
    ldap:
      attributes:
        id: 
        - uid
        email: 
        - mail
        name: 
        - cn
        preferredUsername: 
        - uid
      bindDN: "cn=ldapadm,dc=example,dc=com" 
      bindPassword: 
        name: ldap-secret
      insecure: true 
      url: "ldap://ldap.okd.example.com:389/ou=users,dc=example,dc=com?uid?sub?(&(objectClass=inetOrgPerson)(!(cn=kubeadmin)))"

