kind: Secret
apiVersion: v1
metadata:
  name: ldap-secret
  namespace: openshift-config
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous   
data:
  bindPassword: cm9vdA==
type: Opaque
