-----BEGIN CERTIFICATE-----
MIIDlTCCAn2gAwIBAgIJAKI8LIvgjbHyMA0GCSqGSIb3DQEBCwUAMGExCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQxHTAbBgNVBAMMFHF1YXkub2tkLmV4YW1wbGUuY29tMB4XDTIw
MDYxMzIxMTQwN1oXDTIzMDQwMzIxMTQwN1owYTELMAkGA1UEBhMCWFgxFTATBgNV
BAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDEd
MBsGA1UEAwwUcXVheS5va2QuZXhhbXBsZS5jb20wggEiMA0GCSqGSIb3DQEBAQUA
A4IBDwAwggEKAoIBAQDPxQdx86DkKgFtf8AMGV2EpZBHPi7Ejyks5QjDQpnKr7IJ
9ksMMju1HY+ZMdVVBnMn+gNKk9mHW+/7LDQDU1DLcW/BMGkLslTmHLcZIDZdyz0I
M6mJQwZ2RRUDjO0k5nLeC3OzCyyfgFX/MlJqArj0vMn4fpdpW2yEQgmWkQ980kIZ
Fuk6xNSI2ltvBkTbSWDGUbfIS2x1eCcCCh9NAJbhBg4MXFaUxmaZcTs4LAAs3c9I
fRo6cvDdK5T4wYBWg/u3DmVLWAk8MwqspOEoEGpFS19LqEvvB+PISYtRCTJe0u1Z
yLPT/aYo/E+H8a98JhFg7S2wSHH2GywullLuaNs5AgMBAAGjUDBOMB0GA1UdDgQW
BBQ/IVrlqvkpHHoWXuWvuQLdJI00JjAfBgNVHSMEGDAWgBQ/IVrlqvkpHHoWXuWv
uQLdJI00JjAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCl3iCVRqck
AkhSXV9sqe6xfo99qPIT/tD5gY37QAPX001rEgE/sG72ihjnR24FEkm1erFGQ+lw
CO3LQcvBeopatPNSA8V+p1kpZdp5jf78A6Cj65TaRsCoR/Oa8+zK33mTv8sdmx6S
UqB/Uuby+BjY0Hc6kcO1G8mywjwqT0dm+TMV7esW5xGtO4J6WqSXp/Bjq/Yz38aw
xVMV8gtGFBFbIz9yumoHSkrJ+k/393FTCmsTNNgYkPdfANbN6sQ4+cllcJzm8Uxi
wnVhDGIQFlQqwTuol8EbIFvDwxDqEFAbr6VSmx3Nzx2WY8K+H/nTOfx1tVj+dxzy
VYnwhWBZogQM
-----END CERTIFICATE-----
