AUTHENTICATION_TYPE: LDAP
AVATAR_KIND: local
BITTORRENT_FILENAME_PEPPER: 203e1f15-44dd-429a-a0da-dc6afe7e086e
BUILDLOGS_REDIS:
    host: {{ okd_lab_quay_redis_ip }}
    password: {{ okd_lab_quay_redis_password }}
    port: 6379
DATABASE_SECRET_KEY: ff96883-bd76-48b2-b801-bd9e12188a60
DB_CONNECTION_ARGS: {}
DB_URI: postgresql://{{ okd_lab_quay_postgres_user }}:{{ okd_lab_quay_postgres_password }}@{{ okd_lab_quay_postgres_ip }}/quay
DEFAULT_TAG_EXPIRATION: 2w
DISTRIBUTED_STORAGE_CONFIG:
    default:
        - LocalStorage
        - storage_path: /datastorage/registry
DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
DISTRIBUTED_STORAGE_PREFERENCE:
    - default
FEATURE_ACI_CONVERSION: false
FEATURE_ACTION_LOG_ROTATION: false
FEATURE_ANONYMOUS_ACCESS: true
FEATURE_APP_REGISTRY: true
FEATURE_APP_SPECIFIC_TOKENS: true
FEATURE_BITBUCKET_BUILD: false
FEATURE_BLACKLISTED_EMAILS: false
FEATURE_BUILD_SUPPORT: false
FEATURE_CHANGE_TAG_EXPIRATION: true
FEATURE_DIRECT_LOGIN: true
FEATURE_EXTENDED_REPOSITORY_NAMES: true
FEATURE_FIPS: false
FEATURE_GITHUB_BUILD: false
FEATURE_GITHUB_LOGIN: false
FEATURE_GITLAB_BUILD: false
FEATURE_GOOGLE_LOGIN: false
FEATURE_INVITE_ONLY_USER_CREATION: false
FEATURE_MAILING: false
FEATURE_NONSUPERUSER_TEAM_SYNCING_SETUP: false
FEATURE_PARTIAL_USER_AUTOCOMPLETE: true
FEATURE_PROXY_STORAGE: false
FEATURE_REPO_MIRROR: true
FEATURE_REQUIRE_TEAM_INVITE: true
FEATURE_RESTRICTED_V1_PUSH: true
FEATURE_SECURITY_NOTIFICATIONS: false
FEATURE_SECURITY_SCANNER: true
FEATURE_SIGNING: false
FEATURE_STORAGE_REPLICATION: false
FEATURE_TEAM_SYNCING: false
FEATURE_USER_CREATION: true
FEATURE_USER_LAST_ACCESSED: true
FEATURE_USER_LOG_ACCESS: false
FEATURE_USER_METADATA: false
FEATURE_USER_RENAME: false
FEATURE_USERNAME_CONFIRMATION: false
FRESH_LOGIN_TIMEOUT: 10m
GITHUB_LOGIN_CONFIG: {}
GITHUB_TRIGGER_CONFIG: {}
GITLAB_TRIGGER_KIND: {}
GPG2_PRIVATE_KEY_FILENAME: signing-private.gpg
GPG2_PUBLIC_KEY_FILENAME: signing-public.gpg
LDAP_ADMIN_DN: cn=Directory Manager
LDAP_ADMIN_PASSWD: {{ okd_lab_directory_root_password }}
LDAP_ALLOW_INSECURE_FALLBACK: false
LDAP_BASE_DN:
    - dc=example
    - dc=com
LDAP_EMAIL_ATTR: email
LDAP_UID_ATTR: uid
LDAP_URI: {{ okd_lab_quay_ldap_url }}
LDAP_USER_FILTER:
LDAP_USER_RDN:
    - ou=People
LOG_ARCHIVE_LOCATION: default
LOGS_MODEL: database
LOGS_MODEL_CONFIG: {}
MAIL_DEFAULT_SENDER: {{ okd_lab_quay_mail_default_sender }}
MAIL_PORT: 587
MAIL_USE_AUTH: false
MAIL_USE_TLS: false
PREFERRED_URL_SCHEME: https
REGISTRY_TITLE: Project Quay
REGISTRY_TITLE_SHORT: Project Quay
REPO_MIRROR_INTERVAL: 30
REPO_MIRROR_TLS_VERIFY: false
SEARCH_MAX_RESULT_PAGE_COUNT: 10
SEARCH_RESULTS_PER_PAGE: 10
SECRET_KEY: 82990814-de7b-46b1-931a-36f12443fe0a
SECURITY_SCANNER_INDEXING_INTERVAL: 30
SECURITY_SCANNER_V4_ENDPOINT: {{ okd_lab_quay_scanner_endpoint }}
SECURITY_SCANNER_V4_PSK: {{ okd_lab_clair_psk }}
SERVER_HOSTNAME: {{ okd_lab_quay_hostname }}
SETUP_COMPLETE: true
TAG_EXPIRATION_OPTIONS:
    - 0s
    - 1d
    - 1w
    - 2w
    - 4w
TEAM_RESYNC_STALE_TIME: 30m
TESTING: false
USE_CDN: false
USER_EVENTS_REDIS:
    host: {{ okd_lab_quay_redis_ip }}
    password: {{ okd_lab_quay_redis_password }}
    port: 6379
USER_RECOVERY_TOKEN_LIFETIME: 30m
USERFILES_LOCATION: default
SUPER_USERS:
    - admin
    - lab
IGNORE_VALIDATION: true
BROWSER_API_CALLS_XHR_ONLY: false
FEATURE_USER_INITIALIZE: false
EXTERNAL_TLS_TERMINATION: true
