version: '3'

services:
  postgres:
    image: postgres:10.12
    container_name: postgres
    restart: always
    environment:
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=pass
    - POSTGRES_DB=quay
    ports:
      - 5001:5432
    volumes:
      - ~/docker/mounts/quay/postgres:/var/lib/postgresql/data
    networks:
      app_net:
        ipv4_address: 172.30.0.3
    links:
      - redis

  redis:
    image: redis:5.0.7
    container_name: redis
    restart: always
    entrypoint: redis-server --requirepass strongpassword
    ports:
      - 5002:6379
    networks:
      app_net:
        ipv4_address: 172.30.0.4
    links:
      - quay

  quay:
    image: quay.io/projectquay/quay:{{ _okd_lab_quay_version }}
    container_name: quay
    privileged: true
    restart: always
    ports:
      - 5000:8443
    networks:
      app_net:
        ipv4_address: 172.30.0.5
    volumes:
      - ~/docker/mounts/quay/conf:/conf/stack
      - ~/docker/mounts/quay/datastorage:/datastorage

  mirror:
    image: quay.io/projectquay/quay:{{ _okd_lab_quay_version }}
    container_name: mirroring-worker
    privileged: true
    restart: always
    entrypoint: /quay-registry/quay-entrypoint.sh repomirror
    networks:
      app_net:
        ipv4_address: 172.30.0.6
    volumes:
      - ~/docker/mounts/quay/conf:/conf/stack

#  quay:
#    image: quay.io/projectquay/quay:{{ _okd_lab_quay_version }}
#    container_name: quay_config
#    restart: always
#    entrypoint: /quay-registry/quay-entrypoint.sh config secret
#    ports:
#      - 5000:8443
#    networks:
#      app_net:
#        ipv4_address: 172.30.0.5

  clairdb:
    image: postgres:10.12
    container_name: clairdb
    restart: always
    environment:
    - POSTGRES_HOST_AUTH_METHOD=trust
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=pass
    - POSTGRES_DB=clair
    ports:
      - 5432:5432
    volumes:
      - ~/docker/mounts/clair/postgres:/var/lib/postgresql/data
    networks:
      app_net:
        ipv4_address: 172.30.0.7

  clair:
    image: quay.io/projectquay/clair-jwt:{{ _okd_lab_quay_version }}
    container_name: clair
    ports:
      - "6060:6060"
      - "6061:6061"
    depends_on:
      - clairdb
    restart: always
    networks:
      app_net:
        ipv4_address: 172.30.0.8
    volumes:
      - ~/docker/mounts/clair/conf:/clair/config
      - ~/docker/mounts/clair/conf/ca.crt:/etc/pki/ca-trust/source/anchors/ca.crt

networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: "172.30.0.0/24"