-----BEGIN CERTIFICATE-----
MIIDPjCCAiYCCQD1vpn+MoIaSDANBgkqhkiG9w0BAQsFADBhMQswCQYDVQQGEwJY
WDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZhdWx0IENvbXBh
bnkgTHRkMR0wGwYDVQQDDBRxdWF5Lm9rZC5leGFtcGxlLmNvbTAeFw0yMDA2MTMy
MTE1NDBaFw0yMTEwMjYyMTE1NDBaMGExCzAJBgNVBAYTAlhYMRUwEwYDVQQHDAxE
ZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQgQ29tcGFueSBMdGQxHTAbBgNV
BAMMFHF1YXkub2tkLmV4YW1wbGUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAzlJu+eG9qf5Bb2YoJOqyFAAY0bvxq/VB8TUIHNtWsbjRlph5Vo+r
zXMuOGeSaVXKN1A054MXK1Bmgo1Ois21zHJhUNW0d/J6JMUlr8oE2lzjl6wMYKgz
M6aGeGoOaDXUpFgmIt7IdffoMndGjIhAJ2pRmzR7HvDRTCCHMceclvZRP4u0ErbD
hNJ+GHAZKW6L4EcGR0EO6UMZKBPZft4vH0D9Zakzj+y5adYZ6yAFj5ypKmHhiAZH
z4uIWvj53vUxH3cS26wF0C4Ut7Ln3/6Qdp4YHgP9vpqmuKowox7GYmoTHQBk7h1k
49UzdtJy/IhrZ0+k0/DekDF5BAlHkPYgLwIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
AQC0Txzxku2HzOc5IAcKi6Fay6QLHfq1GjdkeIuYvg2FMTBF9tD8XXv+O91j2+6t
qnhHqjc641UUL0UUngtmWsxYNddkFb51p63h0xJiT0ufm5mAWmVYInNNag0VZAqY
r/dnyyy04x6Gh/q8hPC2bEDpyJqAKNpmnFD/zx4FCc5m1b6FVw5MfnATPJRgICz4
9Kc3dIwtj7AOoTuKHrL5sUvrTnGJOV0iAxRQifws0VYpY6Kb4qs6Vu4u1SoGvZYU
rfBiUOTI2wdhmqerloGFe1Q3mQDFmr6b337Td8sq690dejURcaQNsr8OGkgBnR8s
S88aHoSi8+Ew5oH0uVjoauIg
-----END CERTIFICATE-----
