apiVersion: ceph.rook.io/v1
kind: CephFilesystem
metadata:
  name: replicapool-ceph
  namespace: rook-ceph
spec:
  metadataPool:
    failureDomain: host
    replicated:
      size: 3
  dataPools:
    - failureDomain: host
      replicated:
        size: 3
  preservePoolsOnDelete: true
  metadataServer:
    activeCount: 1
    activeStandby: true
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: rook-ceph-file
provisioner: rook-ceph.cephfs.csi.ceph.com
parameters:
    clusterID: rook-ceph  
    fsName: myfs  
    pool: rook-ceph-file-data0
    csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
    csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
    csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
    csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
    csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
    csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
    rook-cephreclaimPolicy: Delete
allowVolumeExpansion: true
reclaimPolicy: Delete
